.top-container{
    background-image: url("../../assets/images/bg-desktop-light.jpg");
    background-repeat: none;
    background-size: cover;
    height: 300px;
}

/* .top-container img{
    width: 100%;
    height: 100%;
} */

.top-container h1{
    font-size: 1.5rem;
    padding: 3rem;
  }

.mobile{
    display: none;
}


.dark .top-container{
    background-image: url("../../assets/images/bg-desktop-dark.jpg");
}


@media screen and (max-width: 769px) {
    .top-container{
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .top-container{
        height: 200px;
        background-image: url("../../assets/images/bg-mobile-light.jpg"); 
    }

    .dark .top-container{
        height: 200px;
        background-image: url("../../assets/images/bg-mobile-dark.jpg");
    }

    .top-container h1{
        font-size: 1rem;
        padding: 1rem;
      }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }
}